@model POS.Models.ViewModel.PartyVM

@{
    ViewBag.Title = "Edit Party";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Party Create</h4>
<hr />


@using (Html.BeginForm("Edit", "Party", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Image)
        @Html.HiddenFor(model => model.Date)
        @Html.Hidden("initialName", @Model.Name)
        @Html.Hidden("initialPreCode", @Model.PreCode)
        @Html.Hidden("initialCode", @Model.Code)


        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Party Type", new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        <label class="checkbox-inline ">
                            @Html.CheckBoxFor(model => model.IsCustomer)
                            @Html.DisplayNameFor(model => model.IsCustomer)
                        </label>
                        <label class="checkbox-inline ">
                            @Html.CheckBoxFor(model => model.IsSupplier)
                            @Html.DisplayNameFor(model => model.IsSupplier)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Code, new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-5">
                                @Html.TextBoxFor(model => model.PreCode, new { @class = "form-control", @readonly = true })
                            </div>
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.Code, new { @class = "form-control" })
                            </div>
                        </div>
                        @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Contact, new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.TextBoxFor(model => model.Contact, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Contact, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Address, new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.TextAreaFor(model => model.Address, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-8 col-md-4">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </div>
    </div>
}


@section Scripts {
    @*@Scripts.Render("~/bundles/jqueryval")*@
}
