@model POS.Models.ViewModel.PurchaseOperationInfoVM

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Purchase Operation</h4>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.PurchaseNo)

        <div class="row" style="background: powderblue; padding:8px;">
            <div class="col-md-3">
                @Html.Label("Item Name", new { @class = "control-label" })<br />
                @Html.DropDownList("ItemName", Model.SelectListItem, new { @class = "form-control chosen-select", @id = "itemName" })
            </div>
            <div class="col-md-2">
                @Html.Label("Quantity", new { @class = "control-label" })<br />
                <input type="number" min="1" name="Quantity" id="itemQuantity" class="form-control"/>
            </div>
            <div class="col-md-2">
                @Html.Label("Unit Price", new { @class = "control-label" })<br />
                <input type="number" step="100" min="1" name="ItemUnitPrice" id="itemUnitPrice" class="form-control" />
            </div>
            <div class="col-md-3">
                @Html.Label(" ", new { @class = "control-label" })<br />
                <input type="button" class="btn btn-primary btn-sm" id="addPurchase" value="Add" />
            </div>
        </div>

        <br />

        <div class="row">
            <div class="col-md-9">

                <div class="panel panel-primary">
                    <div class="panel-heading"><h3 class="panel-title">Item List</h3></div>
                    <div class="panel-body">
                        <br />
                        <table class="table table-bordered" id="purchaseTable">
                            <thead class="text-center">
                                <tr style="background: skyblue;"><th>SL</th><th>Item</th><th>Qty</th><th>Price</th><th>Line Total</th><th>Action</th></tr>
                            </thead>
                            <tbody></tbody>
                        </table>


                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="panel panel-primary">
                    <div class="panel-heading"><h3 class="panel-title">Purchase Info</h3></div>
                    <div class="panel-body">
                        
                        <div class="form-group">
                            @Html.LabelFor(model => model.BranchId, new {@class = "control-label"})
                            @Html.DropDownListFor(model => model.BranchId, Model.SelectListBranch, new {@class = "form-control", @id = "branchId"})
                            @Html.ValidationMessageFor(model => model.BranchId, "", new {@class = "text-danger"})
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.EmployeeId, new { @class = "control-label" })
                            @Html.DropDownListFor(model => model.EmployeeId, Model.SelectListEmployee, new { @class = "form-control", @id = "employeeId", @disabled = true })
                            @Html.ValidationMessageFor(model => model.EmployeeId, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.SupplierId, new {@class = "control-label"})
                            @Html.DropDownListFor(model => model.SupplierId, Model.SelectListSupplier, new {@class = "form-control"})
                            @Html.ValidationMessageFor(model => model.SupplierId, "", new {@class = "text-danger"})
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.PurchaseDate, new {@class = "control-label"})
                            @Html.TextBoxFor(model => model.PurchaseDate, "{0:MM-dd-yyyy}", new {@class = "form-control datepicker"})
                            @Html.ValidationMessageFor(model => model.PurchaseDate, "", new {@class = "text-danger"})
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Remarks, new {@class = "control-label"})
                            @Html.TextAreaFor(model => model.Remarks, new {@class = "form-control"})
                            @Html.ValidationMessageFor(model => model.Remarks, "", new {@class = "text-danger"})
                        </div>

                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <td colspan="2" style="background: grey; color: #fff">Purchase Summery</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>@Html.LabelFor(model => model.TotalAmount, new {@class = "control-label col-md-6"})</td>
                                <td>@Html.TextBoxFor(model => model.TotalAmount, "", new {@class = "form-control col-md-6", id = "totalAmount", @readonly = true})</td>
                            </tr>
                            @Html.ValidationMessageFor(model => model.TotalAmount, "", new {@class = "text-danger"})
                            <tr>
                                <td>@Html.LabelFor(model => model.PaidAmount, new {@class = "control-label col-md-6"})</td>
                                <td>@Html.TextBoxFor(model => model.PaidAmount, "", new {@class = "form-control col-md-6", id = "paidAmount"})</td>
                            </tr>
                            @Html.ValidationMessageFor(model => model.PaidAmount, "", new {@class = "text-danger"})
                            <tr>
                                <td>@Html.LabelFor(model => model.DueAmount, new {@class = "control-label col-md-6"})</td>
                                <td>@Html.TextBoxFor(model => model.DueAmount, "", new {@class = "form-control col-md-6", id = "dueAmount", @readonly = true})</td>
                            </tr>
                            @Html.ValidationMessageFor(model => model.DueAmount, "", new {@class = "text-danger"})
                            </tbody>
                        </table>
                    </div>
                </div>


            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-offset-6 col-md-6">
                <input type="submit" value="Purchase" class="btn btn-primary" />
            </div>
        </div>
    </div>

}

<link href="~/Content/Project/chosen.min.css" rel="stylesheet" />

@section scripts {
    @*@Scripts.Render("~/bundles/jqueryval")*@
<script src="~/Scripts/chosen.jquery.min.js"></script>
<script src="~/Scripts/Custom/PurchaseOperation.js"></script>
    <script>
        $(function () {

            $(".datepicker").datepicker({
                changeMonth: true,
                changeYear: true,
                minDate: '-1M',
                maxDate: '+1D'

            });

            $(".chosen-select").chosen({
                allow_single_deselect: true
            });

        });
    </script>
}
